
@import 'styles/Header.css';
@import 'styles/Main.css';
@import 'styles/Footer.css';

*{
    font-family: Verdana;
}
body{
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btn:hover{
    cursor: pointer;
    /* Tambien que se resplandezca un poco y tambien efecto de volumen al boton*/
    box-shadow: 0 0 10px rgba(1,1,1,255); 
}

/* Otras configuraciones generales */
.col-1 {    width: 8.33%;   }
.col-2 {    width: 16.66%;  }
.col-3 {    width: 25%;     }
.col-4 {    width: 33.33%;  }
.col-5 {    width: 41.66%;  }
.col-6 {    width: 50%;     }
.col-7 {    width: 58.33%;  }
.col-8 {    width: 66.66%;  }
.col-9 {    width: 75%;     }
.col-10{    width: 150%;  }
.col-11{    width: 91.66%;  }
.col-12{    width: 100%;    }



