<div id="footer-cont">
    <div class="map-cont">
        <iframe id="map" title="mapa-hurl" width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105096.01894166374!2d-58.79027054601402!3d-34.597824317530076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb949d75545b1%3A0x2dd2b2fe831fecce!2sHurlingham%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1668893188664!5m2!1ses!2sar"></iframe>
        <div id="social-net"></div>
    </div>
    <div class="no-map">
        <div class="footer-nav">
            <p class="footer-navi-title">Navegación</p>
            <div id="footer-nav-btns"></div>
        </div>
        <div class="footer-contacto">
            <div id="contacto">
                <p class="footer-contact-title">Contáctanos:</p>
                <p>Telefonos:</p>
                <p>11-12345678</p>
                <p>Horarios de atención:</p>
                <p>Lunes a Sábado: 10:00 a 20:00</p>
            </div>
        </div>
    </div>
</div>
<div id="footer-copyr">
    <p>FerreteriaJS &copy;  2024 - </p>
</div>