<form class="contact-form" action="" >
    <div class="mb-3">
        <!-- Nombre -->
        <label for="firstNameInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="firstNameInput" placeholder="Nombre">
    </div>
    <div class="mb-3">
        <!-- Apellido -->
        <label for="lastNameInput" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastNameInput" placeholder="Apellido">
    </div>
    <div class="mb-3">
        <!-- Telefono -->
        <label for="phoneInput" class="form-label">Telefono</label>
        <input type="tel" class="form-control" id="phoneInput" placeholder="Telefono">
    </div>
    <div class="mb-3">
        <!-- Email -->
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email">
    </div>
    <div class="mb-3">
        <!-- Mensaje -->
        <label for="exampleFormControlTextarea1" class="form-label">Consulta</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>