<div class="main-home">
    <h1>¡Bienvenido a FerreteriaJS!</h1>
    <br>
    <h5>En FerreteriaJS encontrarás todo lo que necesitas para tus proyectos de construcción, remodelación y
        mantenimiento. <br>¡Descubre nuestros productos y ofertas!</h5>
    <div id="main-home-carousel"></div>
    <div id="main-home-products"></div>
    <div id="main-home-categories"></div>
    <section id="why-choose-us">
        <h4>¿Por qué elegirnos?</h4>
        <div class="container">
            <div class="reasons">
                <div class="reason">
                    <i class="fa fa-tools"></i>
                    <h3>Amplia Gama de Productos</h3>
                    <p>Ofrecemos una amplia variedad de productos de ferretería, desde herramientas manuales hasta
                        equipos eléctricos de alta calidad.</p>
                </div>
                <div class="reason">
                    <i class="fa fa-handshake"></i>
                    <h3>Servicio al Cliente Excepcional</h3>
                    <p>Nuestro equipo está dedicado a brindar un servicio al cliente de primer nivel, asegurando que
                        encuentres lo que necesitas y resuelvas todas tus dudas.</p>
                </div>
                <div class="reason">
                    <i class="fa fa-tags"></i>
                    <h3>Precios Competitivos</h3>
                    <p>Ofrecemos productos de alta calidad a precios competitivos para asegurarnos de que obtengas el
                        mejor valor por tu dinero.</p>
                </div>
                <div class="reason">
                    <i class="fa fa-truck"></i>
                    <h3>Entrega Rápida</h3>
                    <p>Contamos con un servicio de entrega eficiente que garantiza que tus pedidos lleguen a tiempo, sin
                        importar dónde te encuentres.</p>
                </div>
            </div>
        </div>
    </section>
    <div id="main-home-tutorials"></div>
</div>