<div class="main-home">
    <h1>¡Bienvenido a FerreteriaJS!</h1>
    <p>En FerreteriaJS encontrarás todo lo que necesitas para tus proyectos de construcción, remodelación y mantenimiento. ¡Descubre nuestros productos y ofertas!</p>
    <h4>Ofertas</h4>
    <div id="main-home-carousel"></div>
    <h4>Productos destacados</h4>
    <div id="main-home-products"></div>
    <h4>¿Qué necesitas?</h4>
    <div id="main-home-categories"></div>
    <h4>¿Por qué elegirnos?</h4>
    <div id="main-home-why"></div>
    <h4>Tutoriales</h4>
    <div id="main-home-tutorials"></div>
</div>